{% extends 'logout-base.html'%}

{% block content %}



<div style="text-align : center; margin-top : 15%">
    <h1>Hey, Welcome! 👋</h1><br />
    <p>What's this place about? Well it's supposed to be a wiki all about Coding, Server and Networking <br /> Currently however it's very much in alpha. Fell free to help make it grow though, we would appreciate it a lot! </p>
    <p style="color : grey; font-style : italic">by Joshua</p>
    <div style="margin-top : 300px">
        <p>Join our Discord:</p>
        <a href="https://discord.gg/something"><img style="width : 100px; height : 100px" src="https://wikicdn.web.app/discord.png"/></a>
    </div>
</div>




{%endblock%}